$borda: #888 1px solid;
$transition: all .3s ease-in-out;
$verdeEscuro: #088800;
$verdeClaro: #08AA00;
$branco: #FFF;
$bold: 700;
$semiBold: 600;

.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0007;
    z-index: 9;
    width: 100vw;
    height: 100vh;
}

.modal-window {
    background-color: $branco;
    border-radius: 5px;
    width: 70vw;
    max-height: 80vh;
    padding: 2em;
    box-shadow: #555 0px 0px 5px 2px;
}

.modal-header, 
.modal-body, 
.modal-footer {
    padding: 1em;
}

.modal-titulo {
    font-size: 2em;
    font-weight: $bold;
    margin-bottom: 1em;
}

.modal-sub-titulo {
    font-size: 1.4em;
    font-weight: $semiBold;
    margin-bottom: 1em;
}

.modal-body {
    border-top: $borda;
    border-bottom: $borda;
}

.inputPersonagem {
    width: 60%;
}

.botaoPesquisar {
    border: $borda;
    border-radius: 5px;
    padding: .3em .6em;
    transition: $transition;
    background-color: $verdeEscuro;
    color: $branco;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6em;
    box-shadow: #555 2px 2px 10px 1px;
}

.botaoPesquisar:hover {
    background-color: $verdeClaro;
    box-shadow: #888 2px 2px 15px 2px;
    cursor: pointer;
}

.girando {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: spin;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.listaPersonagens {
    overflow-y: scroll;
    max-height: 40vh;
}

.itemLista {
    padding: 0.5em;
    margin: 0.5em;
    border: $borda;
    border-radius: 5px;
    width: 15vw;
    transition: $transition;
}

.itemLista:hover {
    background-color: #FF0800;
    color: $branco;
    cursor: pointer;
}

.itemSelecionado {
    background-color: #AA0800;
    color: $branco;
    cursor: pointer;
}

.personagemThumb {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
}

.personanegemNameArea {
    margin-top: .5em;
}

.erroBusca {
    margin: 1em;
    color: #FF0000;
    font-weight: $bold;
}

.botaoSelecionar {
    background-color: $verdeEscuro;
    padding: .8em 1em;
    font-size: 1.2em;
    font-weight: $semiBold;
}

.botaoSelecionar:hover {
    background-color: $verdeClaro;
}