$width: 12vw;
$height: 12vw;

:host {
    padding: 1em;
}

.jogadorThumbnailArea {
    width: $width;
    height: $height;
}

.thumbEsquerda {
    transform: skew(5deg);
}

.thumbDireita {
    transform: skew(-5deg);
}

.jogadorThumbnail {
    width: $width;
    height: $height;
    object-fit: cover;
}

.jogadorNome {
    font-size: 1.2em;
    font-weight: 600;
    margin: .5em;
    color: #FFF;
}

@media only screen and (max-width: 550px) {
    $width: 23vw;
    $height: 23vw;

    .jogadorThumbnailArea {
        width: $width;
        height: $height;
    }
    
    .jogadorThumbnail {
        width: $width;
        height: $height;
    }
}

@media only screen and (min-width: 551px) and (max-width: 900px) {
    $width: 18vw;
    $height: 18vw;

    .jogadorThumbnailArea {
        width: $width;
        height: $height;
    }
    
    .jogadorThumbnail {
        width: $width;
        height: $height;
    }
}