<div class="col" [ngClass]="{'mostraTela': !jogoIniciado, 'escondeTela': jogoIniciado}">
  <tela-inicial (iniciarJogoEvent)="iniciarJogo($event)"></tela-inicial>
</div>
<div class="col" [ngClass]="{'mostraTela': jogoIniciado, 'escondeTela': !jogoIniciado}">
  <div class="row">
    <div class="col superior esquerda">
      <jogador [jogador]="jogador1" [orientacao]="'esquerda'"></jogador>
    </div>
    <div class="col superior centro-horizontal">
      <mostra-vez [jogador]="jogadorVez == 1 ? jogador1 : jogador2"></mostra-vez>
    </div>
    <div class="col superior direita">
      <jogador [jogador]="jogador2" [orientacao]="'direita'"></jogador>
    </div>
  </div>
  <div class="row">
    <div class="col centro-vertical esquerda">
      <pecas *ngIf="pecaJogador1" [tipoPeca]="pecaJogador1" [qtePeca]="qtePecaJogador1"></pecas>
    </div>
    <div class="col centro-vertical centro-horizontal">
      <tabuleiro *ngIf="pecaJogador1 && pecaJogador2" [pecaVez]="pecaVez" (proximoJogadorEvent)="proximoJogador()" (terminoJogoEvent)="terminoJogo($event)"></tabuleiro>
    </div>
    <div class="col centro-vertical direita">
      <pecas *ngIf="pecaJogador2" [tipoPeca]="pecaJogador2" [qtePeca]="qtePecaJogador2"></pecas>
    </div>
  </div>
  <div class="row">
    <div class="col inferior esquerda">
      
    </div>
    <div class="col inferior centro-horizontal">
      <placar *ngIf="jogador1 && jogador2" [vitoriasJogador1]="vitoriasJogador1" [vitoriasJogador2]="vitoriasJogador2"></placar>
    </div>
    <div class="col inferior direita">
      
    </div>
  </div>
</div>
<selecao-personagens *ngIf="abreModal" (setPersonagemJogadorEvent)="setPersonagemJogador($event)"></selecao-personagens>
<tela-final *ngIf="mostraTelaFinal" [jogadorVencedor]="jogadorVencedor" (trocarPersonagensEvent)="iniciarJogo(true)" (reiniciarPartidaEvent)="reiniciaPartida()" (limpaPartidaEvent)="limpaPartida()"></tela-final>