<div class="col">
    <div class="row">
        <a  class="col centro-vertical centro-horizontal posicao" (click)="selecionaPosicao(1, 1)">
            <div class="pecaJogo" id="posicaoL1C1"></div>
        </a>
        <div class="divisor-vertical bordaFinal-superior"></div>
        <a class="col centro-vertical centro-horizontal posicao" (click)="selecionaPosicao(1, 2)">
            <div class="pecaJogo" id="posicaoL1C2"></div>
        </a>
        <div class="divisor-vertical bordaFinal-superior"></div>
        <a class="col centro-vertical centro-horizontal posicao" (click)="selecionaPosicao(1, 3)">
            <div class="pecaJogo" id="posicaoL1C3"></div>
        </a>
    </div>
    <div class="divisor-horizontal"></div>
    <div class="row">
        <a class="col centro-vertical centro-horizontal posicao" (click)="selecionaPosicao(2, 1)">
            <div class="pecaJogo" id="posicaoL2C1"></div>
        </a>
        <div class="divisor-vertical"></div>
        <a class="col centro-vertical centro-horizontal posicao" (click)="selecionaPosicao(2, 2)">
            <div class="pecaJogo" id="posicaoL2C2"></div>
        </a>
        <div class="divisor-vertical"></div>
        <a class="col centro-vertical centro-horizontal posicao" (click)="selecionaPosicao(2, 3)">
            <div class="pecaJogo" id="posicaoL2C3"></div>
        </a>
    </div>
    <div class="divisor-horizontal"></div>
    <div class="row">
        <a class="col centro-vertical centro-horizontal posicao" (click)="selecionaPosicao(3, 1)">
            <div class="pecaJogo" id="posicaoL3C1"></div>
        </a>
        <div class="divisor-vertical bordaFinal-inferior"></div>
        <a class="col centro-vertical centro-horizontal posicao" (click)="selecionaPosicao(3, 2)">
            <div class="pecaJogo" id="posicaoL3C2"></div>
        </a>
        <div class="divisor-vertical bordaFinal-inferior"></div>
        <a class="col centro-vertical centro-horizontal posicao" (click)="selecionaPosicao(3, 3)">
            <div class="pecaJogo" id="posicaoL3C3"></div>
        </a>
    </div>
</div>