.textFinal {
    font-size: 1.1em;
    font-weight: 600;
}

.botaoTrocar,
.botaoReiniciar {
    margin: 0em 2em;
    background-color: #0A0;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 600;
}