@import './app/scss/reset.scss';

@font-face {
    font-family: 'avengers';
    src: url('./assets/fonts/AVENGEANCE\ HEROIC\ AVENGER\ AT.otf') format('truetype');
}

$display: flex; 
$wrap: wrap;
$flexStart: flex-start;
$center: center;
$flexEnd: flex-end;
$branco: #FFF;
$bold: 700;
$semiBold: 600;
$borda: #888 1px solid;

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url('./assets/images/fundo-inicial.png');
    background-position: center;
    background-size: cover;
}

.col {
    display: $display;
    flex-direction: column;
    flex-wrap: $wrap;
    flex: 1;
}

.row {
    display: $display;
    flex-direction: row;
    flex-wrap: $wrap;
    flex: 1;
}

.superior {
    justify-content: $flexStart;
}

.centro-vertical {
    justify-content: $center;
}

.inferior {
    justify-content: $flexEnd;
}

.esquerda {
    align-items: $flexStart;
}

.centro-horizontal {
    align-items: $center;
}

.direita {
    align-items: $flexEnd;
}

.botao {
    border: 0;
    color: #EEE;
    border-radius: 5px;
    box-shadow: #555 2px 2px 10px 1px;
    transition: all .3s ease-in-out;
}

.botao:hover {
    box-shadow: #888 2px 2px 15px 2px;
    color: $branco;
    cursor: pointer;
}

.input {
    background-color: #FBFCFE;
    border: 1px solid #E6E8F0;
    border-radius: 5px;
    padding: 1em;
    margin: .7em 0em;
    color: #7B7E8C;
    font-weight: 600;
}

.pecaJogo {
    font-size: 4em;
    font-weight: 800;
    color: $branco;
}

.alinha-texto-centro {
    text-align: center;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0007;
    z-index: 9;
    width: 100vw;
    height: 100vh;
}

.modal-window {
    background-color: $branco;
    border-radius: 5px;
    width: 70vw;
    max-height: 80vh;
    padding: 2em;
    box-shadow: #555 0px 0px 5px 2px;
}

.modal-header, 
.modal-body, 
.modal-footer {
    padding: 1em;
}

.modal-titulo {
    font-size: 2em;
    font-weight: $bold;
    margin-bottom: 1em;
}

.modal-sub-titulo {
    font-size: 1.4em;
    font-weight: $semiBold;
    margin-bottom: 1em;
}

.modal-body {
    border-top: $borda;
    border-bottom: $borda;
}