@import './app/scss/reset.scss';

@font-face {
    font-family: 'avengers';
    src: url('./assets/fonts/AVENGEANCE\ HEROIC\ AVENGER\ AT.otf') format('truetype');
}

$display: flex; 
$wrap: wrap;
$flexStart: flex-start;
$center: center;
$flexEnd: flex-end;

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.col {
    display: $display;
    flex-direction: column;
    flex-wrap: $wrap;
    flex: 1;
}

.row {
    display: $display;
    flex-direction: row;
    flex-wrap: $wrap;
    flex: 1;
}

.superior {
    justify-content: $flexStart;
}

.centro-vertical {
    justify-content: $center;
}

.inferior {
    justify-content: $flexEnd;
}

.esquerda {
    align-items: $flexStart;
}

.centro-horizontal {
    align-items: $center;
}

.direita {
    align-items: $flexEnd;
}