:host {
    display: flex;
    flex: 1;
}

.nomeJogo {
    font-family: 'avengers', Arial, Helvetica, sans-serif;
    font-size: 5em;
    line-height: 1.3em;
    color: #F1F5FD;
    text-shadow: 5px 5px #FFF6;
    font-style: italic;
}

.botaoIniciar {
    background-color: #AA0800;
    padding: .8em 2em;
    font-size: 2em;
    font-weight: 700;
}

.botaoIniciar:hover {
    background-color: #FF0800;
}